

@import url('../vendor/normalize.css');
@import url('../blocks/content/content.css');
@import url('../blocks/header/header.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/statistics-list/statistics-list.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/places/places.css');
@import url('../blocks/place/place.css');
@import url('../blocks/video/video.css');
@import url('../blocks/comments/comments.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/page/page.css');

/** {
    outline-width: 1px;
    outline-style: solid;
    outline-color:grey;
}*/

html {
    background-color: #2A2C2F;
    min-width: 320px;
}

body {
    background-color: #2A2C2F;
}


.link-opacity:hover {
    opacity: 0.7;
}

@font-face {
    src: url('../Fonts/inter_web/Inter-Regular.woff') format('woff'),
        url('../Fonts/inter_web/Inter-Regular.woff2') format('woff2'),
        url('../Fonts/Inter_TTF/Inter-Regular.ttf') format('ttf');
        font-family: 'Inter';
}

@font-face {
    src: url('./Fonts/inter_web/Inter-Italic.woff') format('woff'),
        url('../Fonts/inter_web/Inter-Italic.woff2') format('woff2'),
        url('../Fonts/Inter_TTF/Inter-Italic.ttf') format('ttf');
        font-family: 'Inter';
        font-style: italic;
}

@font-face {
    src: url('../Fonts/inter_web/Inter-Bold.woff') format('woff'),
        url('../Fonts/inter_web/Inter-Bold.woff2') format('woff2'),
        url('../Fonts/Inter_TTF/Inter-Bold.ttf') format('ttf');
        font-family: 'Inter';
        font-weight: bold;
}

@font-face {
    src: url('../Fonts/inter_web/Inter-Black.woff') format('woff'),
        url('../Fonts/inter_web/Inter-Black.woff2') format('woff2'),
        url('../Fonts/Inter_TTF/Inter-Black.ttf') format('ttf');
        font-family: 'Inter';
        font-style:  normal;
        font-weight: 900;
}

