
.barentsburg {
    width: 1184px;
    margin: 85px auto 160px;
}

.barentsburg__title {
    font-family: Inter;
    font-size: 42px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 0px auto 10px 0px;
}

.barentsburg__coord {
    font-family: Inter;
    font-size: 42px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 0px auto 35px 0px;
}

.barentsburg__map {
    width: 1184px;
    height: 464px;
    margin-bottom: 48px;
}

.barentsburg__container {
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.barentsburg__text {
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;    
    color: #FFFFFF;
    width: 380px;
    margin: 0px 120px 0px 0px;
}

.barentsburg__url-heading {
    font-family: Inter;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;    
    color: #AAAAAA;
    margin-top: 0px;
    width: 282px;
}

.barentsburg__link {
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;    
    color: #FFFFFF;
    margin-top: 0px;
    width: 282px;
}
